<div class="container-wrapper">
  <div class="left-container"></div>
  <div class="main-container-all">

    <div class="content-container">
      <div class="profile-card">
        <h2 class="section-title" >Profil</h2>
        <img [src]="users[0].imageUrl" alt="User Avatar" class="avatar">
        <h3 style="color: black;">{{ this.userBack.user.Name }}</h3>
      </div>
      <br>
      <div class="profile-card" style="text-align: left;">
        <h2 class="section-title">À propos</h2>
        <div class="separator-line-2"></div>
        <div>
          <span style="color: black;">Nom prénom </span>
          <br>
          <span style="color: black; font-weight: bold;">{{ this.userBack.user.Name }} {{ this.userBack.user.Surname }}</span>
        </div>
        <div class="separator-line-2"></div>
        <div>
          <span style="color: black;">Email </span>
          <br>
          <span style="color: black; font-weight: bold;">{{ this.userBack.user.Mail }}</span>
        </div>
        <div class="separator-line-2"></div>
        <div>
          <span style="color: black;">Evenements participées : </span>
          <br>
          <ul style="color: black;">
          @for (event of eventsUserBack; track event.Name) {
            <li style="color: black;">
              <span style="color: black; font-weight: bold;">{{ event.Name }}</span>
            </li>
          }
          </ul>
        </div>
        <div class="separator-line-2"></div>
        <div>
          <span style="color: black;">Amis : </span>
        </div>
      </div>
    </div>
      <div class="tab-container">
        <button class="other-btn" (click)="navigateToMain()"><img src="./../../assets/globe.png"alt="www"class="image-onglet" /></button>
        <button class="other-btn" (click)="navigateToMessage()"><img src="./../../assets/message.png"alt="message" class="image-onglet"/></button>
        <button class="main-btn" ><img src="./../../assets/utilisateur.png"alt="user"class="image-onglet" /></button>
      </div>
  </div>
  <div class="right-container"></div>
</div>

  