<div class="container-wrapper">
    <div class="left-container"></div>
    <div class="main-container-all">
        <div class="rectangle-petit"></div>
        <h2 class="main-title">Discover</h2>
                    
        <div class="tab-container">
            <button class="main-btn" ><img src="./../../assets/globe.png"alt="www"  class="image-onglet"/></button>
            <button class="other-btn" (click)="navigateToMessage()"><img src="./../../assets/message.png"alt="message"class="image-onglet" /></button>
            <button class="other-btn" (click)="navigateToProfil()"><img src="./../../assets/utilisateur.png"alt="user"class="image-onglet" /></button>
        </div>
    </div>
    <div class="right-container"></div>
</div>
