/* tabs.component.css */
.tabs-container {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

.tab:hover {
  background-color: #f0f0f0;
}

.content {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
}

.tab.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}
