<div class="container-wrapper">
    <div class="left-container"></div>
    <div class="main-container-all">
        <div class="rectangle"></div>
        <h2 class="main-title">Discover</h2>
            <div class="event-card" [style.background-image]="'url(' + getCurrentEvent().imageUrl + ')'">
                <h2>{{ getCurrentEvent().name }}</h2>
                <div class="event-details">
                    <p>Place: {{ getCurrentEvent().place }}</p>
                    <p>Date: {{ getCurrentEvent().date }}</p>
                </div>
            </div>
            
            <div class="button-container-small">
                <button (click)="showPreviousEvent()"><img src="./../../assets/signe-de-la-croix.png"alt="stop"  class="image-onglet-like-dislike"/></button>
                <button (click)="showNextEvent()"><img src="./../../assets/coeurs.png"alt="heart"  class="image-onglet-like-dislike"/></button>
            </div>
            
        <div class="tab-container">
            <button class="main-btn" ><img src="./../../assets/globe.png"alt="www"  class="image-onglet"/></button>
            <button class="other-btn" (click)="navigateToMessage()"><img src="./../../assets/message.png"alt="message"class="image-onglet" /></button>
            <button class="other-btn" (click)="navigateToProfil()"><img src="./../../assets/utilisateur.png"alt="user"class="image-onglet" /></button>
        </div>
    </div>
    <div class="right-container"></div>
</div>
