<div class="inscription-container">
    <div class="form-container">
      <h2>Inscription</h2>

      <div class="separator-line"></div>

      <form class="form">

        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="newUser.Surname" required>

        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" [(ngModel)]="newUser.Name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="newUser.Mail" required>

        <label for="mdp">Mot de passe:</label>
        <input type="password" id="mdp" name="mdp" [(ngModel)]="newUser.Password" required>


        <button (click)="registerUser()">S'inscrire</button>
      </form>
      <p class="register-link">Déjà inscrit? <a href="/login" >Connectez-vous ici</a></p>
    </div>

    <div class="background-container">
        <p class="right-content">Event Horizon</p>
    </div>
  </div>
